
version: '3.4'
services:
  
  picspy-front:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${FRONTEND_EXTERNAL_PORT}:3000'
    volumes:
      - ./src:/usr/src/app/src
    environment:
      REACT_APP_API_EXTERNAL_HOST: ${API_EXTERNAL_HOST}
      REACT_APP_FRONTEND_EXTERNAL_PORT: ${FRONTEND_EXTERNAL_PORT}
    env_file:
      - .env
