@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.home,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
  width: 200px;
  vertical-align: baseline;
}

#exercices li {
  display: block;
  list-style: none;

}

a:hover {
  background-color: #555;
  color: white;
}

#consigne {
  background-color: #669999;
  vertical-align: middle;
}

img {
  vertical-align: bottom;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
